
<!-- Layout GOV-CE 
Desenvolvido pela Tecnologia da Informação do Hospital Infantil Albert Sabin
Contato: pedro@plcosta.com
-->
<div id="layout-content">

    <!-- Titulo do Painel - Informacoes gerais -->
    <div class="header center">
        <h2>Bem-vindo ao</h2>
        <h1 id="nome-empresa-painel">Hospital Infantil Albert Sabin</h1>
        <div class="container-clock">
            <div class="clock">
              <ul class="time">
                  <li id="hours"></li>
                  <li id="point">:</li>
                  <li id="min"></li>
              </ul>
            </div>
            <div class="container-date">
                <div id="date"></div>
                <div id="day"></div>   
            </div>
        </div>
    </div>

    <!-- Exibicao da ultima senha chamada -->
    <div id="senha-container" class="center">
        <div class="box-senha box-normal">
            <p id="mensagem"></p>
            <div id="senha">
                <span>A000</span>
            </div>
        </div>
        <div class="container-servico">
            <div id="nome-servico">
                <span>Consulta Prioridade</span>
            </div>           
        </div>
        <div class="container-local">
            <div id="local">
                <span>Consultório</span>
            </div>
            <div id="local-numero">
                <span>99</span>
            </div>
        </div>
    </div> <!-- /senha-container -->

    <!-- Historico de senhas chamadas -->
    <div id="historico">
        <h2>Senhas Anteriores</h2>
        <div class="senhas">
        </div>
    </div><!-- /historico -->
</div> <!-- /layout-content -->